/*By Matthew Olson CSCE 242*/
:root {
    --employee-background-color:lightgray;
    --employee-border-color:darkred;
    --employee-header-background-color:white;
    --employee-text-background-color:white;
}

/*Employees page*/
.employee-info {
    background-color: var(--employee-background-color);
    border: solid 2px var(--employee-border-color);
    margin-top: 15px;
    width:50%;
    margin: 0px auto;
}
.employee-info h2 {
    text-align: center;
    background-color: var(--employee-header-background-color);
    border:solid 2px var(--employee-border-color);
    width:fit-content;
    margin: 0 auto;
    margin-top:15px;
    margin-bottom:15px;
    padding:10px;
}

.employee-info img {
    display:flex;
    border:2px solid var(--employee-border-color);
    margin-left: 15px;
    border-radius: 10px;
}
#team-info {
    display:flex;
    justify-content: center;
    height:auto;
}
#team-info img {
    margin:25px;
}
#team-info  p {
    width:35%;
    height:10%;
    background-color: var(--employee-text-background-color);
    border: 2px solid var(--employee-border-color);
    border-radius: 10px;
    padding:15px;
    line-height: 25px;
}

/* Smaller Resolutions */
@media only screen and (max-width: 600px) {
    /*Employee page*/
    .employee-info {
        padding:10px;
        width:92%;
    }
    #team-info {
        flex-direction: column;
    }
    #team-info img {
        width:85%;
        margin:10px auto;
    }
    #team-info p {
        width:85%;
        margin:5px auto;
    }

  }