:root {
    --main-background-color:lightgray;
    --main-border-color:darkred;
    --main-mission-background-color:white;
    --main-four-boxes-background-color:skyblue;
    --main-four-boxes-border-color:darkred;
    --main-four-boxes-text-color:white;
    --main-four-boxes-text-background-color:#1E3A5F;
}
/*Misson-statement main section*/
#main-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:100px;
    gap:20px;
    max-width:50%;
    background-color: var(--main-background-color);
    margin:20px auto;
    border: 1px solid var(--main-border-color);
}
#main-section img {
    margin-right:20px;
    border:2px solid var(--main-border-color);
}
#mission {
    width: 500px;
    background-color: var(--main-mission-background-color);
    border: 1px solid var(--main-border-color);
}
#mission h3 {
    margin-bottom:10px;
    text-align: center;
}
#mission p {
    padding:10px;
    line-height: 1.6;
}
/*Four-Main page flex boxes section*/
/*Centers boxes*/
#different-pages {
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}
/*centers text and provides color with padding*/
.small-columns {
    text-align: center;
    background-color: var(--main-four-boxes-background-color);
    padding:15px;
    border: 2px solid var(--main-four-boxes-border-color);
}
.small-columns img {
    width: 300px;
    height:200px;
    display: block;
    margin: 10px;
}
.small-columns p {
    color: var(--main-four-boxes-text-color);
    background-color: var(--main-four-boxes-text-background-color) ;
    padding:20px;
}
.small-columns a {
    text-decoration: none;
}